<div class="container">
  <div class="input-group">
    <label class="input-label"> Change background color </label>
    <input
      type="color"
      name="bg-input"
      [(ngModel)]="bgColor"
      (input)="updateBg()"
    />
  </div>
  <div class="input-group">
    <label class="input-label">Change text color</label>
    <input
      type="color"
      name="text-input"
      id=""
      [(ngModel)]="textColor"
      (input)="updateText()"
    />
  </div>
  <div #childRef class="text-box">This is child element !</div>
</div>
